#grid-format {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2px;
}

#info-seperator {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2px;
}

@media all and (max-width: 1000px) {
    #info-seperator {
        display: grid;
        grid-template-columns: 1fr;
        padding: 2px;
    }
}

